<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vibes</title>
    <style type="text/css">
        @media screen {
            @font-face {
                font-family: 'Pacifico';
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }
        }
        @media screen and (max-width:600px) {
            #main {
                width: 75% !important;
            }
        }
    </style>
</head>
<body>
    <div id="main" style="width: 25%; margin: auto; text-align:center">
        <div style="font-family: 'Pacifico', cursive;font-size: 32px;">
            Vibes
        </div>
        <div style="font-size: 15px;font-family: 'Roboto', 'RobotoDraft', Helvetica, Arial, sans-serif;">
            <h3>Hola, {{username}}</h3>
            <p>
                Recibimos una solicitud para restablecer su contraseña de Vibes.
            </p>
            <div style="padding: 10px; background-color:black; width: 200px; margin: auto">
                <a style="text-decoration: none; color: white" href="http://vibes.ddns.com/reset-password/{{hash}}">Recuperar contraseña</a>
            </div>
            <p>
                Ten encuenta que este enlace caducará en los próximos 15 minutos. Si ignora este mensaje, su contraseña no será cambiada.
                Si no solicitó un restablecimiento de contraseña, háganoslo saber.
            </p>
            <p>
                Un saludo, <br>
                Vibes Company.
            </p>
            <small style="margin-top: 2em; font-size: 0.8em; color: rgb(206, 206, 206);">
                Este mensaje fue enviado a {{email}} y destinado a <b>{{username}}</b>. ¿No es tu cuenta? Elimina su correo
                electrónico de esta cuenta.
            </small>
        </div>
    </div>
</body>

</html>